# IntelliJ
*.iml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/*.xml

.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties

# Built application files
*.apk
*.ap_
*.aab

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Files for the ART/Dalvik VM
*.dex

# Generated with AS Signed apk builds
*output.json*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
